<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Css grid 12 column grid system
  body
    .container
      h1 Css grid 12 column grid system
      .row
        .col-md-4
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!
        .col-md-4
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!
        .col-md-4
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!
        .col-12
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!
        .col-6
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!
        .col-6
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!

      .row
        .col-md-6
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!
        .col-sm-6.col-md-3
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!
        .col-sm-6.col-md-3
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quo cumque debitis maxime! Perferendis saepe debitis est explicabo dolore sunt! Ratione perferendis adipisci, exercitationem rem eaque amet ex quisquam!
